@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}

.container {
  background-color: #e3f9ff;
  width: 100%;
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background-color: #3a4452;
  padding: 2.5rem;
  border-radius: 10px;
  width: 30rem;
}

form .row {
  display: flex;
  gap: 1rem;
}

.calculator form input {
  font-weight: bold;
  flex: 1;
  margin-bottom: 2rem;
  letter-spacing: 5px;
  border: 0;
  outline: 0;
  width: 3.75rem;
  height: 3.75rem;
  color: #e3f9ff;
  background-color: #4c596c;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.calculator form input:focus {
  border: 1px solid #19d382;
}

form .calculator-display {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

form .calculator-display input {
  flex: 1;
  padding: 2rem 1rem;
  box-shadow: none;
  text-align: right;
  font-size: 2.5rem;
}

form .row .operator {
  color: #19d382;

  border: none;
}

form .row .equal {
  flex: 2;
}

footer {
  color: #3a4452;
  font-weight: bolder;
  letter-spacing: 5px;
  background-color: #3a4452;
  text-align: center;
  padding: 1.5rem;
  color: #e3f9ff;
}

footer a {
  color: #19d382;
  text-decoration: none;
}
